.logo{
    margin-top: 8px;
    align-items: center;
    display: flex;
    img{
        width: 36px;
        height: 40px;
    }
    span{
        font-size: 24px;
        padding-left: 5px; 
    }
}
.footer{
    text-align: center;
}